/* Container styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffff; /* Dark background color */
  }
  
  /* Card styles */
  .card {
    background-color: #d9dbe6; /* White card background */
    padding: 30px;
    border-radius: 15px;
    width: 450px;
    height: 500px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .avatar-placeholder::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #cccccc; /* Inner circle */
  }
  
  /* Input styles */
  .input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffff;
    border-radius: 25px;
    font-size: 14px;
    background-color: #e2e1eb; /* Light purple background */
    outline: none;
  }
  
  .input::placeholder {
    color: #120f5f; /* Purple placeholder text */
    font-size: 14px;
  }
  
  /* Create account button styles */
  .create-account-button {
    width: 100%;
    padding: 10px;
    background-color: #060621; /* Dark button background */
    color: #ffffff; /* White text */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .create-account-button:hover {
    background-color: #2214e3; /* Slightly lighter shade on hover */
  }
  .avatar-img {
    width: 100px;
    height: 100px;
  }
  

/* General greeting or success message */
.general-message {
  color: green; /* Green for success messages */
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Error message style */
.error {
  color: red; /* Red for error messages */
  font-size: 12px;
  margin-top: 5px;
  margin-left: 5px;
}
