
.avatar-placeholder {
  margin-bottom: 1.2px;
}

.avatar-placeholder img {
  width: 250px;
  height: 100px;
}


.input {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease-in-out;
}

.input:focus {
  border-color: #6a11cb;
  outline: none;
}

.input-wrapper {
  position: relative;
}

.show-password {
  position: absolute;
  right: 15px;
  top: 12px;
  cursor: pointer;
  font-size: 14px;
  color: #aaa;
  transition: color 0.3s ease-in-out;
}

.show-password:hover {
  color: #6a11cb;
}

/* .forgot-password {
  display: block;
  font-size: 14px;
  color: #3717ec;
  text-decoration: none;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
}

.forgot-password:hover {
  color: #000;
} */

.sign-in-button {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #060621;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.sign-in-button:hover {
  background-color: #3717ec;
}

.register-link {
  display: block;
  font-size: 14px;
  color: #3520cf;
  text-decoration: none;
  margin-top: 15px;
}

.register-link:hover {
  text-decoration: underline;
  color: #000;
}
