/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1717d7; /* Dark background color */
}


.card {
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  height: 400px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}
.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

/* Show password toggle */
.show-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c63ff;
  font-size: 12px;
  cursor: pointer;
}

/* Forgot password link */
.forgot-password {
  display: block;
  
  margin: 10px 0;
  color: #6c63ff;
  font-size: 12px;
  text-decoration: none;
}

/* Sign-in button styles */
.sign-in-button {
  width: 100%;
  padding: 10px;
  background-color: #1a1a3e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.sign-in-button:hover {
  background-color: #9797ff; /* Slightly lighter shade for hover */
}

/* Register link */
.register-link {
  display: block;
  margin-top: 20px;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

/* General greeting or success message */
.general-message {
  color: green; /* Green for success messages */
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Error message style */
.error {
  color: red; /* Red for error messages */
  font-size: 12px;
  margin-top: 5px;
  margin-left: 5px;
}


/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('/path-to-your-background.gif'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-image: url('/background.gif');

} */
